
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    font-family: 'Poppins', sans-serif;
    color: #222222;
    height: 20vh;
}

.header__time-hr{
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
}

.header__time-date{
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
}

.header__weather-place{
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;

}

.header__weather div{
    display: flex;
    justify-content: center;
}

.header__weather-celsius{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.header__weather-img{
    width: 20%;
}


/* Main */

.home-main{
    text-align: right;
    padding-right: 7rem;
    background-image: url("../img/bola-LogoCompasso\ 1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 68vh;
}

.main__section{
    padding-top: 4rem;
}

.main__section-mission{
    margin-bottom: 0.8rem;
}

.main__section-mission-titles{
    color: #C12D18;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.titles-font-size-mission{
    font-size: 1.6rem;
}

.titles-font-size-others{
    font-size: 2.7rem;
}

.paragraph-portuguese{
    font-weight: 400;
    font-size: 1.2rem;
    color: #222222;
    font-family: 'Poppins', sans-serif;
}

/* footer */

.footer{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
}

.footer__section-paragraph{
    width: 54%;
    border-right: 1px solid #FFFFFF;
}

.paragraph-description{
    font-weight: 400;
    font-size: 0.75rem;
    text-align: right;
    color: #FFFFFF;
    width: 33.813rem;
    padding-left: 7rem;
}

.footer__section-refresh{
    display: flex;
    justify-content: start;
    width: 30%;
    align-items: center;
}

.paragraph-refresh{
    font-weight: 400;
    font-size: 0.7rem;
    color: #FFFFFF;
    width: 5.213rem;
    text-align: right;
    padding-right: 1rem;
}

.counter-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   color: #FFFFFF;
}

.counter-content-number{
    font-weight: 700;
    font-size: 2rem;
}

.counter-content-seg{
    font-weight: 400;
    font-size: 0.7rem;
}

.footer__section-continue{
    background: #FFFFFF;
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__section-continue a{
    text-decoration: none;
    color: #C13216;
    font-weight: 400;
    font-size: 0.75rem;
    transition: all ease-in-out 300ms;
}

.footer__section-continue a:hover{
    font-size: 0.8rem;
}


.footer__section-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    cursor: pointer;
}

.footer__section-logout p{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.75rem;
    transition: all ease-in-out 300ms;
}

.footer__section-logout p:hover{
    font-size: 0.8rem;
}


/* Responsive media query */

@media screen and (min-width:1441px) and (max-width:2561px){ 

    .home-compass-img{
        width: 200%;
    }
    
    .header__time-hr{
        font-size: 14rem;
    }
    
    .header__time-date{
        font-size: 1.275rem; 
    }
    
    .header__weather-place{
        font-size: 1.275rem;
    }

    .header__weather-celsius{
        font-size: 4rem;
    }
    
    .header__weather-img{
        width: 25%;
    }

    .titles-font-size-mission{
        font-size: 4.2rem;
    }
    
    .titles-font-size-others{
        font-size: 5rem;
    }
    
    .paragraph-portuguese{
        font-size: 2.4rem;
    }

    .footer__section-paragraph{
        width: 54%;
        
    }
   
    .paragraph-description{
        font-size: 1.75rem;
        padding-left: 7rem;
        width: 100%;
    }
    
    .footer__section-refresh{
        padding-left: 15rem;
    }

    .paragraph-refresh{
        font-size: 1.3rem;
        padding-right: 1rem;
        width: 20%;
    }

    .counter-content-number{
        font-size: 5rem;
    }

    .counter-content-seg{
        font-size: 1.3rem;
    }

    .footer__section-continue a{
        font-size: 1.85rem;
       
    }
    
    .footer__section-logout p{
        font-size: 1.85rem;
       
    }


}


@media screen and (min-width:769px) and (max-width:1025px){ 

    .titles-font-size-mission{
        font-size: 1.6rem;
    }
    
    .titles-font-size-others{
        font-size: 2rem;
    }
    
    .paragraph-portuguese{
        font-size: 1rem;
    }

   
    .paragraph-description{
        font-size: 0.65rem;
        padding-left: 3rem;
    }

    .footer__section-refresh{
        width: 20%;
        padding-left:2rem;
    }

}

@media screen and (min-width:426px) and (max-width:768px){ 

    .header__time-hr{
        font-size: 4rem;
    }
    
    .header__time-date{
        font-size: 0.575rem; 
    }
    
    .header__weather-place{
        font-size: 0.575rem;
    }

    .header__weather-celsius{
        font-size: 2rem;
    }
    
    .header__weather-img{
        width: 15%;
    }

    .titles-font-size-mission{
        font-size: 1.4rem;
    }
    
    .titles-font-size-others{
        font-size: 1.5rem;
    }
    
    .paragraph-portuguese{
        font-size: 0.8rem;
    }

   
    .paragraph-description{
        font-size: 0.55rem;
        padding-left: 1rem;
        width: 30%;
        display: none;
    }

    .footer__section-refresh{
        width: 50%;
        padding-left:2rem;
    }

    .footer__section-continue a{
        font-size: 0.75rem;
       
    }
    
    .footer__section-logout p{
        font-size: 0.75rem;
       
    }

    .footer__section-logout{
        width: 20%;
    }

    .footer__section-continue{
        width: 20%;
        
    }

}


@media screen and (max-width:425px){ 

    .home-main{
        padding-right: 2rem;
        height: 68vh;
        background-position-x: -8rem;
    }

    .home-compass-img{
        width: 70%;
    }

    .header__time-hr{
        font-size: 2.7rem;

    }
    
    .header__time-date{
        font-size: 0.575rem;
        
    }
    
    .header__weather-place{
        font-size: 0.575rem;
    }

    .header__weather-celsius{
        font-size: 1.2rem;
    }
    
    .header__weather-img{
        width: 13%;
    }

    .titles-font-size-mission{
        font-size: 1.2rem;
    }
    
    .titles-font-size-others{
        font-size: 1rem;
    }
    
    .paragraph-portuguese{
        font-size: 0.4rem;
    }

    .footer__section-paragraph{
        width: 4%;
        border: none;
    }

    .paragraph-description{
        font-size: 0.55rem;
        padding-left: 1rem;
        width: 10%;
        display: none;
    }

    .footer__section-refresh{
        width: 30%;
        padding-right: 2rem;
    }

    .counter-content-number{
        font-size: 1.3rem;
    }

    .footer__section-continue a{
        font-size: 0.85rem;
       
    }
    
    .footer__section-logout p{
        font-size: 0.85rem;
       
    }

    .footer__section-logout{
        width: 30%;
    }

    .footer__section-continue{
        width: 30%;
    }

}