
/*defining variables */

:root {
    --main-color: #222222;
    --secondary-color: #E0E0E0;
    --paragraph-error-color: #E9B425;
    --button-gradient-login:linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    --input-background: #26292C;
    
}
  
/* Login Page*/

.main {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}

.section {
    width: 50%;
}

.section-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

.section__title{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 23.688rem;
    margin-right: 3rem;
}

.section__title h1{
    font-weight: 400;
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

.section__title p{
    font-weight: 400;
    font-size: 1rem;
    height: 3.25rem;
    width: 18.813rem;
    margin-bottom: 2rem;
}

.section__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.section__form h2{
    font-weight: 400;
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.form-input{
    background-color: var(--input-background);
    width: 23.688rem;
    height: 3.75rem;
    border: 1px solid #FFFFFF;
    border-radius: 3.125rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    text-indent: 1rem;
}

.form-input-color-erro{
    border: 1px solid #E9B425;
}

.form-input::-webkit-input-placeholder{ /* Chrome/opera/Safari */
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 1rem;
    text-indent: 1rem;
}

.form-input::-moz-placeholder{ /* Firefox 19+ */
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 1rem;
    text-indent: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-content img{
    margin-left: 1rem;
}

.button-login{
    background:var(--button-gradient-login);
    width: 23.625rem;
    height: 4.188rem;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3.125rem;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.125rem;
    border: none;
    transition: all ease-in-out 300ms;
    margin-top: 2rem;
}

.button-login:hover{
    cursor: pointer;
    width: 23.925rem;
    height: 4.288rem;
}

.section-img {
    background-image: url("../img/Mask\ Group.jpg");
    background-size: cover;
    height: 100vh;
}

.logo-compass{
    width: 19.125rem;
    margin-left: 40%;
    margin-top: 2rem;
}

.button{
    font-family: 'Nunito', sans-serif; 
}


/* completed form */

.completed-form-user{
    background-image: url("../img/Vector.svg");
    background-position-x: 21rem;
    background-position-y: center;
    background-repeat: no-repeat; 
}

.completed-form-password{
    background-image: url("../img/icon-password.svg");
    background-position-x: 21rem;
    background-position-y: center;
    background-repeat: no-repeat; 
}

.visibility-hidden{
    visibility: hidden;
}

/* completed form - add animation */

.user-img-position-in{
    position: relative;
    animation: img-user-in 1.5s;
    animation-fill-mode: forwards;
}

.password-img-position-in{
    position: relative;
    animation: img-password-in 1.5s;
    animation-fill-mode: forwards;
}

@keyframes img-user-in {

    from {
        left: 0rem;
    }
    to{
        left: -4.688rem;
    }

}

@keyframes img-password-in {

    from {
        left: 0rem;
        top: 0rem;
    }
    to{
        left: -4.688rem;
        top: 0.313rem;
    }

}

/* Login page error */

.display-none{
    display: none;
}

.paragraph-error{
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    width: 17.688rem;
    padding-left: 2.5rem;
    color: var(--paragraph-error-color);
}

/* Responsive media query */


@media screen and (min-width:769px) and (max-width:1024px){ 

    .section__title{
        width: 13.688rem;
        padding-top: 2rem;
    }

    .section__title h1{
        font-size: 2.85rem;
    }
    
    .section__title p{
        font-size: 0.9rem;
        
    }

    .form{
        padding-top: 0.5rem;
        padding-left: 2rem;
    }

    .section__form h2{
        padding-left: 2rem;
        font-size: 1.475rem;
       
    }

    .form-input{
        width: 16.688rem;
        height: 2.55rem;
        
    }

    .button-login{
        width: 16.625rem;
        height: 2.55rem;
        font-size: 0.925rem;
        margin-top: 2rem;
    }

    .logo-compass{
        width: 45%;
    }

    #form-user-img, #form-password-img{
        height: 20%;
    }

    .form-input::-webkit-input-placeholder{ /* Chrome/opera/Safari */
        font-size: 0.8rem;
    }
    
    .form-input::-moz-placeholder{ /* Firefox 19+ */
        font-size: 0.8rem;
    }

}

@media screen and (min-width:689px) and (max-width:768px){ 

    .section__title{
        width: 13.688rem;
        padding-top: 2rem;
    }

    .section__title h1{
        font-size: 2.75rem;
    }
    
    .section__title p{
        font-size: 0.8rem;
        
    }

    .form{
        padding: 2rem;
    }

    .section__form h2{
        padding-left: 2rem;
        font-size: 1.275rem;
       
    }

    .form-input{
        width: 14.688rem;
        height: 2.05rem;
        
    }

    .button-login{
        width: 14.625rem;
        height: 2.05rem;
        font-size: 0.725rem;
        margin-top: 2rem;
    }

    .logo-compass{
        width: 40%;
    }

    #form-user-img, #form-password-img{
        height: 20%;
    }

    .form-input::-webkit-input-placeholder{ /* Chrome/opera/Safari */
        font-size: 0.7rem;
    }
    
    .form-input::-moz-placeholder{ /* Firefox 19+ */
        font-size: 0.7rem;
    }

}

@media screen and (min-width:426px) and (max-width:688px){ 
   

    .section-login {
        width: 60%;
    }

    .section-img{
        width: 40%;
    }

    .section__title{
        width: 8.688rem;
        margin-right: 7rem;
    }

    .section__title h1{
        font-size: 2.05rem;
    }
    
    .section__title p{
        font-size: 0.7rem;
    }

    .form{
        padding: 0.5rem;
    }

    .section__form h2{
        padding-left: 1rem;
        font-size: 1.275rem;
       
    }

    .form-input{
        width: 10.688rem;
        height: 2.05rem;
    }

    .button-login{
        width: 10.625rem;
        height: 2.05rem;
        font-size: 0.725rem;
    }

    .logo-compass{
        width: 40%;
    }

    #form-user-img, #form-password-img{
        height: 15%;
    }

    .form-input::-webkit-input-placeholder{ /* Chrome/opera/Safari */
        font-size: 0.6rem;
    }
    
    .form-input::-moz-placeholder{ /* Firefox 19+ */
        font-size: 0.6rem;
    }

}



@media screen and  (max-width:425px){ 

    .main{
        display: block;
    }

    .section{
        width: 100%;
    }

    .section-login{
        height: 100vh;
    }

    .section-img{
        display: none;
    }

    .section__title{
        width: 13.688rem;
        padding-top: 2rem;
        padding-right: 1rem;
    }

    .section__title h1{
        font-size: 2.75rem;
    }
    
    .section__title p{
        font-size: 0.8rem;
        
    }

    .form{
        padding: 2rem;
    }

    .section__form h2{
        padding-left: 2rem;
        font-size: 1.275rem;
       
    }

    .form-input{
        width: 13.188rem;
        height: 2.05rem;
        
    }

    .button-login{
        width: 13.625rem;
        height: 2.55rem;
        font-size: 0.725rem;
        margin-top: 1.5rem;
    }

    #form-user-img, #form-password-img{
        height: 15%;
    }

    .form-input::-webkit-input-placeholder{ /* Chrome/opera/Safari */
        font-size: 0.7rem;
    }
    
    .form-input::-moz-placeholder{ /* Firefox 19+ */
        font-size: 0.7rem;
    }

}

@media screen and  (max-width:320px){ 

    .main{
        display: block;
        min-width: 320px;
    }


    .section-login{
        height: 100vh;
        width: 100vw;
    }

    .section__title{
        width: 13.688rem;
    }

    .section__title h1{
        font-size: 2.75rem;
        padding: 1rem;
    }
    
    .section__title p{
        font-size: 0.8rem;
        padding-right: 1rem;
       
    }

    .form{
        padding: 2rem;
    }

    .section__form h2{
        padding-left: 2rem;
        font-size: 1.275rem;
       
    }

    .form-input{
        width: 13.188rem;
        height: 2.05rem;
        margin-bottom: 0.5rem;
        
    }

    .button-login{
        width: 13.625rem;
        height: 2.55rem;
        font-size: 0.725rem;
        margin-top: 0.5rem;
    }

   

}
